name: CI_PR
on:
  pull_request_target:
    branches:
      - master
      
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}

      - name: Update theme
        # (Optional)If you have the theme added as submodule, you can pull it and use the most updated version
        run: git submodule update --init --recursive

      - name: Setup hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: "0.83.1"
          extended: true

      - name: Build
        # remove --minify tag if you do not need it
        # docs: https://gohugo.io/hugo-pipes/minification/
        run: hugo --minify --baseURL "https://uw-echospace.github.io/testview/"

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          personal_token: ${{ secrets.HUGO_REPO_TOKEN }}
          external_repository: uw-echospace/uw-echospace.github.io
          publish_dir: ./public
          destination_dir: ./testview
          #   keep_files: true
          publish_branch: master
        #   cname: example.com